# Generated directories
node_modules/
bower_components/
distro/
export/
source/css/lib/
source/scripts/
source/index.html
source/lib/

# Mac OS X hidden files
.DS_Store

# Vim swap files
.*.sw?

# Gedit swap files
*~

# Logs
*.log