<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button ng-show="state.is('today')" ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <md-button ng-show="state.is('article')" ng-click="goBack()" class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="arrow_back"></md-icon>
    </md-button>

    <h1>
      SWAM
    </h1>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-icon="favorite" style="color: greenyellow;"></md-icon>
    </md-button>
  </div>
</md-toolbar>