<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">

  <md-toolbar class="md-theme-indigo">
  
    <h1 class="md-toolbar-tools">Sidenav Left</h1>
  
  </md-toolbar>

  <md-content layout-padding>
    
    <md-list ng-cloak>
      <md-subheader class="md-no-sticky">Directives</md-subheader>
      <md-list-item ui-sref="uiTable" ui-sref-active="active" class="secondary-button-padding" ui- ng-click="close()">
        UI Table
      </md-list-item>
      <md-list-item ui-sref="uiTabs" ui-sref-active="active" class="secondary-button-padding" ng-click="close()">
        UI Tabs
      </md-list-item>
      <md-list-item ui-sref="uiWizard" ui-sref-active="active" class="secondary-button-padding" ng-click="close()">
        UI Wizard
      </md-list-item>
      <md-divider></md-divider>
      
    </md-list>

  </md-content>

</md-sidenav>

<md-content id="container" flex >

  <ui-view></ui-view>

</md-content>