<md-card ng-repeat="post in publications">
  <img ng-src="{{post.image_url}}" class="md-card-image" alt="Washed Out">
  <md-card-content>
    <h2 class="md-title">{{post.title_sub_head}}</h2>
    <p>
      {{post.resume}}
    </p>
  </md-card-content>
  <div class="md-actions" layout="row" layout-align="end center">
    <md-button ui-sref="article({url:post.url})" class="md-primary md-raised md-icon-button">
      <md-icon md-svg-icon="arrow_forward" ></md-icon>
    </md-button>
  </div>
</md-card>