<h3>UI TABLE</h3>

<div layout="row" layout-wrap>

	<div flex="33">
	</div>
	<div flex="33">

		<table class="swam-table" align="center">
			<thead>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
			</thead>
			<tbody ui-table table-model="list"></tbody>
		</table>

	</div>
	<div flex="33">

		<table class="swam-table" align="center">
			<thead>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>4</th>
			</thead>
			<tbody ui-table table-request="users"></tbody>
		</table>

	</div>
</div>