<h3>UI TABLE</h3>

<div layout="row" layout-align="center center" layout-wrap>

	<md-card>

		<md-toolbar>
	      <div class="md-toolbar-tools">	        
	        <h2>
	          <span>Static Data</span>
	        </h2>
	      </div>
	    </md-toolbar>
	    <md-content>
			<table class="swam-table" align="center">
				<thead>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
				</thead>
				<tbody ui-table table-model="list"></tbody>
			</table>
	    </md-content>
	</md-card>

	<md-card>
		<md-toolbar>
	      <div class="md-toolbar-tools">	        
	        <h2>
	          <span>Request Data</span>
	        </h2>
	      </div>
	    </md-toolbar>
		<md-content>
			<table ui-table table-request="userConf1" class="swam-table" align="center">
			</table>
		</md-content>

	</md-card>

	<md-card>
		<md-toolbar>
	      <div class="md-toolbar-tools">	        
	        <h2>
	          <span>Request Data with actions (buttons, checkboxes and icons)</span>
	        </h2>
	      </div>
	    </md-toolbar>
	    <md-content>
			<table ui-table table-request="userConf3" class="swam-table" align="center">			
			</table>
		</md-content>
	</md-card>

	<md-card>
		<md-toolbar>
	      <div class="md-toolbar-tools">	        
	        <h2>
	          <span>Request Data with sorting</span>
	        </h2>
	      </div>
	    </md-toolbar>
	    <md-content>
			<table ui-table table-request="userConf2" class="swam-table" align="center">			
			</table>
		</md-content>
	</md-card>

	

	
</div>