<!doctype html>
<html ng-app="app">

    <head>
        <title>Web app Architecture by Techfano</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <!-- build:style bundle -->
        <!-- /build -->
        <!-- build:script bundle -->
        <!-- /build -->
    </head>

    <body class="layout-row">
	    <!-- build:section layout.header -->
	    <!-- /build -->
        <div ui-view="header"></div>            
        <div ui-view="content" style="height:90%"></div>
        <!-- build:section layout.footer -->
        <!-- /build -->
    </body>



</html>

