@import 'vars'; 

* {
 font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html, body{
	background: $background-color !important;
	overflow:hidden;
	max-width: 100%;
  	max-height: 100%;
	color: #383838;
	line-height: 1;
}

md-content {
  background-color: transparent !important;
}

md-content .article{
	background: white !important;
	width: 800px;
	margin: 0 auto 20px auto !important;
	padding: 0 0 20px 0 !important;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);	
}

md-card{
	width: 800px;
	margin: 0 auto 15px auto;
}

md-content .img-container{
	position: relative;
	max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

md-content .img-container::before{
    position: absolute;
    content: "";
    background: none, linear-gradient(180deg, transparent 50%, rgba(0, 0, 0, 0.8));
    height: 100%;
    width: 100%;
}

md-content .img-container .title-container{
    position: absolute;
    color: white !important;
    bottom: 0px;
    left: 20px;
    color: white;
    line-height: 1.4;
    text-shadow: 0 1px 3px rgba(0,0,0,.4);
    font-size: 20px;
}



md-content .article img{
	max-width: 100%;
    height: auto;
}

md-content .article p{
	font-size: 16px;
	color: #333;
}

.article-container{
	padding-left: 20px;
	padding-right: 20px;
}

.main-paragraph{
	color: #767676;
	font-weight: bold;
	font-size: 19px;
}

.article figure img{
	border:1px #CCC solid;
	-webkit-box-shadow: 2px 1px 6px 1px #999;
	box-shadow: 2px 1px 6px 1px #999;
}

.fabToolbardemoBasicUsage md-fab-toolbar.md-left md-fab-trigger.align-with-text {
  left: 7px; 
}

#container{
	width: 100%;
	margin: 0 auto;
	background: $background-color !important;
	height:100%;
}

@media(max-width:800px){
	md-card{
		width:95%;
	}

	md-content .article{
		width:95%;		
	}
}

.font-right{
	text-align: right !important;
}

.font-left{
	text-align: left !important;
}