@import 'vars'; 

html, body{
	background: $background-color !important;
	overflow:hidden;
	max-width: 100%;
  	max-height: 100%;
}

md-content {
  background-color: transparent !important;
}

md-card{
	width: 800px;
	margin: 0 auto;
}

.fabToolbardemoBasicUsage md-fab-toolbar.md-left md-fab-trigger.align-with-text {
  left: 7px; 
}

#container{
	
	width: 100%;
	margin: 0 auto;
	background: $background-color !important;
	height:100%;
}

@media(max-width:800px){
	#container{
		width:95%;
	}
}